<h4 class="text-center">Análise de Padrões e Tendências Climáticas em Sorocaba:</h4>
<h4 class="text-center">Um Estudo Analítico-Histórico com Dados do INMET (1961-2024)</h4>

<div class="m-4">
  <span class="text-center">
    O aumento na frequência de fenômenos climáticos extremos,
    como secas e enchentes, levanta preocupações sobre a
    sustentabilidade e segurança de várias comunidades na cidade de Sorocaba.
    O presente estudo pretende analisar a correlação entre temperatura e
    precipitação em Sorocaba de 1961 a 2024, de modo a buscar entender
    como essas variáveis interagem e impactam em tais eventos.
    O projeto pretende ainda incluir o desenvolvimento de uma
    plataforma de mineração de dados, que permitirá a visualização e
    análise dos dados climáticos, que por sua vez poderá contribuir para
    estratégias de adaptação e mitigação. O projeto poderá também oferecer
    oportunidades de manipulação dos dados, através de modelagem matemática
    para estudantes de áreas tecnológicas.
  </span>
</div>


