<h4 class="text-center">Sistema IoT para Monitoramento Climático, Interface Web Responsiva e Inteligência Artificial:</h4>

<div class="m-4">
  <span class="text-center">
    Esta ferramenta realiza o monitoramento climático em tempo real, consolidando dados de temperatura, umidade e estimativas de precipitação a partir de sensores IoT. A solução integra visualização dos dados e recurso de previsão via Inteligência Artificial, permitindo análise rápida e suporte à tomada de decisão. Trata-se de um projeto acadêmico, com caráter demonstrativo, podendo ser escalado futuramente mediante ampliação da rede de coleta e validação contínua dos modelos.
  </span>
</div>
